@model List<Tuple<string, dynamic>>?
@{
    ViewData["Title"] = "Álbum";
    string inputValue = "";
    if (Model is not null)
    {
        inputValue = Model[0].Item2;
        Model.RemoveAt(0);
    }
}

<section class="px-[10%] w-full">
    <div class="flex flex-row px-[10%] gap-5 justify-between mb-2 py-2">
        <div class="w-full max-w-4xl mx-auto px-4">
            <form class="flex items-center" method="post">
                <input id="searchInput" name="searchInput" value="@inputValue"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1 mr-4 bg-[#121212] text-white"
                    placeholder="Buscar por artista, álbum, música..." type="text" />
                <input type="hidden" id="searchType" name="searchType" value="Tudo">

                <div class="py-2 p-2">
                    <button class="btn-type-search text-white hover:bg-[#1DB954] btn py-2 px-3 rounded-full"
                        onclick="setSearchType('Tudo')">
                        Tudo
                    </button>
                    <button class="btn-type-search text-white hover:bg-[#1DB954]  btn py-2 px-3 rounded-full"
                        onclick="setSearchType('Artista')">
                        Artista
                    </button>
                    <button class="btn-type-search text-white hover:bg-[#1DB954]  btn py-2 px-3 rounded-full"
                        onclick="setSearchType('Album')">
                        Álbum
                    </button>
                    <button class="btn-type-search text-white hover:bg-[#1DB954]  btn py-2 px-3 rounded-full"
                        onclick="setSearchType('Musica')">
                        Música
                    </button>

                </div>
            </form>
        </div>
    </div>

    @if (Model is not null)
    {
        <div class="w-full py-6">
            @foreach (var content in Model)
            {
                <h3 class="text-4xl font-bold mb-4">@content.Item1</h3>

                <div class="flex overflow-x-auto gap-4 my-4">
                    @foreach (var item in @content.Item2.items)
                    {
                        @if (@content.Item1 == "Músicas")
                        {
                            <a class="cursor-pointer w-fit max-w-40 flex flex-col p-2 transition hover:bg-black rounded-lg p-2"
                                asp-controller="Music" asp-action="Music" asp-route-itemid="@item.id">
                                <div class="w-[145px] h-[150px]">
                                    @if (@item.album.images != null && @item.album.images.Count > 0)
                                    {
                                        <img class="rounded-lg bg-gray-300 bg-muted-foreground/10 object-cover w-[100%] h-[100%]"
                                            src="@item.album.images[0].url" width="150" height="150" />
                                    }
                                    else
                                    {
                                        <img class="rounded-lg bg-gray-300 bg-muted-foreground/10 object-cover w-[100%] h-[100%]"
                                            src="https://placehold.co/150x150?text=@item.name" width="150" height="150" />
                                    }
                                </div>
                                <div class="text-lg font-medium group-hover:underline text-wrap">@item.name</div>
                                <div class="text-sm font-medium group-hover:underline mt-1 text-gray-400">@item.album.artists[0].name
                                </div>
                            </a>
                        }
                        @if (@content.Item1 == "Álbuns")
                        {
                            <a class="cursor-pointer w-fit max-w-40 flex flex-col p-2 transition hover:bg-black rounded-lg p-2"
                                asp-controller="Music" asp-action="Album" asp-route-itemid="@item.id">
                                <div class="w-[145px] h-[150px]">
                                    @if (@item.images != null && @item.images.Count > 0)
                                    {
                                        <img class="rounded-lg bg-gray-300 bg-muted-foreground/10 object-cover w-[100%] h-[100%]"
                                            src="@item.images[0].url" width="150" height="150" />
                                    }
                                    else
                                    {
                                        <img class="rounded-lg bg-gray-300 bg-muted-foreground/10 object-cover w-[100%] h-[100%]"
                                            src="https://placehold.co/150x150?text=@item.name" width="150" height="150" />
                                    }
                                </div>
                                <div class="text-lg font-medium group-hover:underline text-wrap">@item.name</div>

                                <p class="text-sm font-medium group-hover:underline text-gray-400">
                                    @item.artists[0].name </p>

                            </a>
                        }
                        @if (@content.Item1 == "Artistas")
                        {
                            <a class="cursor-pointer w-fit max-w-40 flex flex-col p-2 transition hover:bg-black rounded-lg p-2"
                                asp-controller="Music" asp-action="Artista" asp-route-itemid="@item.id">
                                <div class="w-[145px] h-[150px]">
                                    @if (@item.images != null && @item.images.Count > 0)
                                    {
                                        <img class="rounded-lg bg-gray-300 bg-muted-foreground/10 object-cover w-[100%] h-[100%]"
                                            src="@item.images[0].url" width="150" height="150" />
                                    }
                                    else
                                    {
                                        <img class="rounded-lg bg-gray-300 bg-muted-foreground/10 object-cover w-[100%] h-[100%]"
                                            src="https://placehold.co/150x150?text=@item.name" width="150" height="150" />
                                    }
                                </div>
                                <div class="text-lg font-medium group-hover:underline text-wrap">@item.name</div>
                                <div class="text-sm font-medium group-hover:underline mt-1 text-gray-400">Artista
                                </div>
                            </a>
                        }
                    }
                </div>
            }
        </div>
    }


</section>

<script>
    function setSearchType(type) {
        document.getElementById('searchType').value = type;
        document.getElementById('searchButton').click();
    }
</script>