@model List<MusicModel>
@{
    ViewData["Title"] = "Músicas";
}

<h1 class="fs-1">Músicas</h1>

<a role="button" class="btn btn-primary" asp-controller="Music" asp-action="AddMusic">Adicionar Música</a>

@* <table class="table" id="music-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Álbum</th>
            <th scope="col">Artista</th>
            <th scope="col">Gênero</th>
            <th scope="col">Duração</th>
            <th scope="col">Avaliações</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var music in Model)
            {
                <tr>
                    <th scope="row">@music.Id</th>
                    <td>@music.Title</td>
                    <td>@music.Album</td>
                    <td>@music.Artist</td>
                    <td>@music.Genre</td>
                    <td>@music.Duration</td>
                    <td>
                        @foreach (var i in Enumerable.Range(0, music.Rating))
                        {
                            <span class="fa fa-star text-warning"></span>
                        }
                        @foreach (var i in Enumerable.Range(0, 5 - music.Rating))
                        {
                            <span class="fa fa-star"></span>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#myModal-@music.Id">
                            Remover
                        </button>
                    </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                    id="myModal-@music.Id">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Remover Música</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Deseja realmente remover a música <span style="font-weight: bold;">@music.Title</span> ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                <form asp-controller="Music" asp-action="DeleteMusic" method="post">
                                    <input type="hidden" name="id" value="@music.Id" />
                                    <button type="submit" class="btn btn-danger">Confirmar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </tbody>
</table> *@
