@model dynamic?
@{
    ViewData["Title"] = "Álbum";
}

<section class="px-[10%] w-full">
    <div class="flex flex-row px-[10%] gap-5 justify-between mb-2 py-2">
        <div class="w-full max-w-4xl mx-auto px-4">
            <form class="flex items-center" method="post">
                <input id="searchInput" name="searchInput"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1 mr-4 bg-[#121212] text-white"
                    placeholder="Buscar por artista, álbum, música..." type="text" />
                <input type="hidden" id="searchType" name="searchType" value="Tudo">
                <button id="searchButton" class="text-white bg-[#1DB954] btn py-2 px-3 rounded-lg" type="submit" asp-controller="Music"
                    asp-action="SearchParam">
                    Pesquisar
                </button>
            </form>
        </div>
    </div>

    <div class="pt-4 p-2">
        <button class="btn-type-search text-white selected btn py-2 px-3 rounded-full" onclick="setSearchType('Tudo')">
            Tudo
        </button>
        <button class="btn-type-search text-white btn py-2 px-3 rounded-full" onclick="setSearchType('Artista')">
            Artista
        </button>
        <button class="btn-type-search text-white btn py-2 px-3 rounded-full" onclick="setSearchType('Album')">
            Álbum
        </button>
        <button class="btn-type-search text-white btn py-2 px-3 rounded-full" onclick="setSearchType('Musica')">
            Música
        </button>

    </div>


    @if (Model is not null)
    {
        <div class="w-full py-6">
            @foreach (var content in Model){
                <h3 class="text-4xl font-bold mb-4">@content.name</h3>
            <div class="grid md:grid-cols-4 lg:grid-cols-8 gap-4">
                @foreach (var item in @Model.artists.items)
                {
                    <a class="cursor-pointer w-fit max-w-40  flex flex-col p-2 transition hover:bg-black rounded-lg p-2"
                        asp-controller="Music" asp-action="Artist" asp-route-itemid="@item.id">
                        <div class="w-[145px] h-[150px]">
                            @if (item.images != null && item.images.Count > 0)
                            {
                                <img class="rounded-lg bg-gray-300 bg-muted-foreground/10 object-cover w-[100%] h-[100%]"
                                    src="@item.images[0].url" width="150" height="150" />
                            }
                            else
                            {
                                <img class="rounded-lg bg-gray-300 bg-muted-foreground/10 object-cover w-[100%] h-[100%]"
                                    src="https://placehold.co/150x150?text=@item.name" width="150" height="150" />
                            }
                        </div>
                        <div class="text-lg font-medium group-hover:underline text-wrap">@item.name</div>
                        <div class="text-sm font-medium group-hover:underline mt-1 text-gray-400">Artista</div>
                    </a>
                }
            </div>
            }
        </div>
    }


</section>

<script>
    function setSearchType(type) {
        document.getElementById('searchType').value = type;
        document.getElementById('searchButton').click();
    }
</script>